{% extends "bootstrap/base.html" %}
{% block content %}
<div class="jumbotron">
    <ul class="list-group">
    {% for course in courses %}
        <li class="list-group-item"> {{course['title']}} - {{course['URL']}} </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}